
<p style="font-weight: 600;
    font-style: inherit;
    color: #7f8c8d;"
>Live view </p>
<p style="margin-top: -20px;
    text-transform: none;">Meeting room avilability</p>
    
    <h3 >Ground Floor</h3>
<div class="row">
    <div class="col-sm-3"><kalutara  ></kalutara></div>
    
    
</div>
    
    <h3 >Second Floor</h3>
<div class="row">
    <div class="col-sm-3"><conference  ></conference></div>
    
    
</div>
    
    
<h3 style="padding-top:5px">Third Floor</h3>
<div class="row">
    <div class="col-sm-2"><galle  ></galle></div>
    <div class="col-sm-2"><jaffna></jaffna></div>
    <div class="col-sm-2"><general></general></div>
    
</div>